@charset "utf-8";

:root {
    --main-font:"Pretendard", sans-serif;
    --sub-font:"Archivo Narrow", sans-serif;
    --main-color:#AEE6D6 ;
    --sub-color:#FFF8E7;
}

body { font-family: var(--main-font); font-size: 1.6rem; line-height: 1.5; color: #000; overflow-x: hidden; }
/*#wrap { overflow-x: hidden; }*/
.inner { max-width: 1720px; margin: 0 auto; padding: 0 20px; }

#wrap { background: var(--sub-color); color: #583C30;}

#header { padding: 20px 0; position: relative; z-index: 9;}
#header .inner { display: flex; justify-content: space-between; }
#header .inner h1 img { height: 50px;}
#header nav { display: flex; }
#header nav > ul { display: flex; align-items: center; }
#header nav ul > li {  position: relative; }
#header nav ul > li > a { display: block; color: #fff; font-size: 2rem; padding: 0 40px 10px; font-weight: 600;  border-radius: 50px;}
#header nav ul li .depth2 { display: none;  width: 600px; position: absolute;  }
#header nav ul li .depth2 li { display: inline-block; padding-right: 15px;  }
#header nav ul li .depth2 li a { font-size: 2rem; display: block;  padding: 5px 30px; color: #333; background: #fff; border-radius: 50px; opacity: 0.7;}
#header nav ul li .depth2 li a:hover { opacity: 1; }

#header nav ul.sub_gnb > li > a { color: #583C30; }

#header .btn_franchise { font-size: 2rem; background: var(--main-color); padding: 10px 30px; border-radius: 50px; font-weight: 600;}
#header .btn_franchise:hover { color: #fff;}

#header .btn_ham { display: none; background: url(../images/i_menu_b.svg) no-repeat center; width: 30px; height: 30px; font-size: 0; cursor: pointer;}
#header .btn_close { position: absolute; right: 20px; top: 60px; background: url(../images/i_close_b.svg) no-repeat center; width: 30px; height: 30px; z-index: 101; font-size: 0; cursor: pointer;}

#header .mgnb_wrap { display: none; position: fixed; left: 0; top: 0; width: 80%; height: 100vh; background: var(--main-color); z-index: 100; padding: 100px 50px 0; color: #000; }
#header .mgnb_wrap .mgnb { display: block;}
#header .mgnb_wrap .mgnb li {font-size: 2rem; padding: 10px 0;}
#header .mgnb_wrap .mgnb .m_depth2 { gap: 20px;}
#header .mgnb_wrap .mgnb .m_depth2 li { font-weight: 400; }
#header .mgnb_wrap .mgnb .m_depth2 li a { color: #fff; font-size: 1.6rem; font-weight: 400; opacity: 0.6;}

@media (max-width:1100px) {
#header .gnb { display: none;}
#header .calender { display: none;}
#header .btn_ham { display: block;}
#header .btn_franchise { display: none;}
}

#footer { padding: 50px 0; background: var(--main-color);}
#footer .footer_left { display: flex; justify-content: space-between;}
#footer .footer_left p { padding-bottom: 30px; font-weight: 900;}
#footer .footer_left .icon { cursor: pointer;}



